<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags">

<f:view>
    <h:head>
        <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
        <title>Login</title>
    </h:head>

    <h:body>
        <h:form>
            <p:growl id="TaskManager" showDetail="true"/>

            <p:toolbar>
                <f:facet name="left">
                    <p:commandButton action="index.xhtml?faces-redirect=true" type="submit" value="Main"
                                     icon="pi pi-home"/>

                    <p:commandButton action="projects?faces-redirect=true" type="submit" value="Projects"
                                     icon="pi pi-folder-open"/>

                    <p:commandButton action="developer?faces-redirect=true" type="submit" value="Developer"
                                     icon="pi pi-info"/>

                    <p:commandButton action="registration?faces-redirect=true" type="submit" value="Registration"
                                     icon="pi pi-user-plus"/>

                    <span class="ui-separator">
                <span class="ui-icon pi pi-ellipsis-v"/>
            </span>
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form prependId="false">
            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel for="username" value="Enter login: "/>
                <p:inputText id="username" placeholder="login"/>

                <p:outputLabel for="password" value="Enter password: "/>
                <p:password id="password" placeholder="password"/>
                <h:form>
                    <p:commandButton ajax="false" type="submit" value="Login"/>
                </h:form>
            </h:panelGrid>
        </h:form>
    </h:body>
</f:view>
</html>