<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

<f:view>
    <h:head>
        <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
        <title>Task Manager</title>
    </h:head>

    <h:body>
        <h:form>
            <p:growl id="TaskManager" showDetail="true"/>

            <p:toolbar>
                <f:facet name="left">
                    <p:commandButton action="index.xhtml?faces-redirect=true" type="submit" value="Main" icon="pi pi-home"/>

                    <p:commandButton action="projects?faces-redirect=true"  type="submit" value="Projects" icon="pi pi-folder-open"/>

                    <p:commandButton action="registration?faces-redirect=true" type="submit" value="Registration" icon="pi pi-user-plus"/>

                    <span class="ui-separator">
                <span class="ui-icon pi pi-ellipsis-v"/>
            </span>

                </f:facet>

                <f:facet name="right">
                    <f:facet name="right">
                        <p:commandButton ajax="false" action="login?faces-redirect=true" type="submit" value="Login" icon="pi pi-user"
                                         rendered="#{user.auth}"/>
                        <p:commandButton ajax="false" action="#{user.logout}" type="submit" value="Logout"
                                         icon="pi pi-user" rendered="#{!user.auth}"/>
                    </f:facet>
                </f:facet>

            </p:toolbar>
        </h:form>
        <br></br>
        <h:form id="form">
            <p:dataTable binding="#{table}" id="basicDT" var="p" value="#{project.getProjects()}">
                <f:facet name="header">
                    Projects
                </f:facet>
                <p:column headerText="#" style="width:18px;text-align: center">
                    <h:outputText value="#{table.rowIndex + 1}"/>
                </p:column>
                <p:column headerText="Id">
                    <h:outputText value="#{p.id}"/>
                </p:column>
                <p:column headerText="Name">
                    <h:outputText value="#{p.name}"/>
                </p:column>
                <p:column headerText="Description">
                    <h:outputText value="#{p.description}"/>
                </p:column>
                <p:column headerText="User">
                    <h:outputText value="#{p.user.login}"/>
                </p:column>
                <p:column headerText="Status">
                    <h:outputText value="#{p.status}"/>
                </p:column>
                <p:column headerText="Date Create">
                    <h:outputText value="#{p.dateCreate}"/>
                </p:column>
                <p:column headerText="Date Begin">
                    <h:outputText value="#{p.dateBegin}"/>
                </p:column>
                <p:column headerText="DateEnd">
                    <h:outputText value="#{p.dateEnd}"/>
                </p:column>
                <p:column style="width:36px;text-align: center">
                    <p:commandButton ajax="false" type="submit" icon="pi pi-search" title="View"
                                     action="#{project.showProject(p.id)}"/>
                </p:column>
                <p:column style="width:36px;text-align: center">
                    <p:commandButton ajax="false" type="submit" icon="pi pi-pencil" title="Edit"
                                     action="#{project.update(p.id)}"/>
                </p:column>
                <p:column style="width:36px;text-align: center">
                    <p:commandButton ajax="false" type="submit" icon="pi pi-trash" title="Delete"
                                     action="#{project.delete(p.id)}"/>
                </p:column>
                <p:column style="width:36px;text-align: center">
                    <p:commandButton ajax="false" type="submit" icon="pi pi-angle-double-right" title="Start"
                                     action="#{project.start(p.name)}"/>
                </p:column>
                <p:column style="width:36px;text-align: center">
                    <p:commandButton ajax="false" type="submit" icon="pi pi-ban" title="End"
                                     action="#{project.end(p.name)}"/>
                </p:column>
                <p:column style="width:36px;text-align: center">
                    <p:commandButton ajax="false" type="submit" icon="pi pi-folder-open" title="Tasks"
                                     action="#{project.showTasks(p.id)}"/>
                </p:column>
            </p:dataTable>
        </h:form>
        <br></br>
        <h:form>
            <p:commandButton ajax="false" type="submit" value="Create Project"
                             action="#{user.createProject()}"/>
        </h:form>
    </h:body>
</f:view>
</html>